@import "g-interface/theming";

@include g-interface-core();

$theme-one: (
  dark: #1c202d,
  light: #485064,
  background: #f5f7f8,
  primary: #6d73c5,
  secondary: #303472,
  error: #d65050,
  warn: #be7c46,
  success: #4aa151,
  text-light: #ffffff,
  text-dark: #222222,
);

$theme-light: (
  dark: #2e4180,
  light: #3c57af,
  background: #f5f7f8,
  primary: #6d73c5,
  secondary: #303472,
  error: #d65050,
  warn: #be7c46,
  success: #4aa151,
  text-light: #ffffff,
  text-dark: #222222,
);

@include g-interface-theme($theme-one);

.theme-light {
  @include g-interface-theme($theme-light);
}
