@import "g-interface/theming";

@include g-interface-core();

$theme-one: (
  dark: #1c202d,
  light: #485064,
  background: #f5f7f8,
  primary: #4c52a5,
  secondary: #3f4380,
  error: #d65050,
  warn: #af6f3b,
  success: #3c8f43,
  text-light: #ffffff,
  text-dark: #222222,
);

$theme-light: (
  dark: #2e4180,
  light: #3c57af,
  background: #f5f7f8,
  primary: #4c52a5,
  secondary: #3f4380,
  error: #d65050,
  warn: #af6f3b,
  success: #3c8f43,
  text-light: #ffffff,
  text-dark: #222222,
);

@include g-interface-theme($theme-one);

.theme-light {
  @include g-interface-theme($theme-light);
}
