@import "g-interface/theming";

@include g-interface-core();

$theme-one: (
  dark: #1c202d,
  light: #373d4e,
  background: #f5f7f8,
  primary: #5ac87f,
  secondary: #238d84,
  text-light: #ffffff,
  text-dark: #222222,
);

$theme-dark: (
  dark: #221f27,
  light: #f3f0ee,
  background: #838d92,
  primary: #5ac87f,
  secondary: #439e61,
  text-light: #ffffff,
  text-dark: #222222,
);

@include g-interface-theme($theme-one);

.theme-dark {
  @include g-interface-theme($theme-dark);
}
