
<div class="form-group">
  <label>Text</label>
  <input type="text" placeholder="Text" >
</div>

<div class="form-group">
  <label>Search</label>
  <input type="search" placeholder="Search terms" >
</div>

<div class="form-group">
  <label>Tel</label>
  <input type="tel" placeholder="Ex. (+32)2 345 67 89" >
</div>

<div class="form-group">
  <label>Email</label>
  <input type="email" placeholder="john.doe@example.com" >
</div>

<div class="form-group">
  <label>Url</label>
  <input type="url" placeholder="example.com" >
</div>

<div class="form-group">
  <label>Password*</label>
  <input class="invalid" type="password" placeholder="Ex. Eq9Re_54sqd$" >
  <span class="error">A password is required.</span>
</div>

<div class="form-group">
  <label>Textarea</label>
  <textarea cols="30" rows="10"></textarea>
</div>

<br>
<br>
<br>

<gi-form-group>
  <label>First name:</label>
  <input gi-input type="text">
</gi-form-group>

<br>
<br>
<br>
<input type="button" value="">
<input type="checkbox" name="" id="">
<input type="color" name="" id="">
<input type="date" name="" id="">
<input type="datetime-local" name="" id="">
<input type="file" name="" id="">
<input type="hidden" name="">
<input type="image" src="" alt="">
<input type="month" name="" id="">
<input type="number" name="" id="">
<input type="radio" name="" id="">
<input type="range" name="" id="">
<input type="reset" value="">
<input type="submit" value="">
<input type="time" name="" id="">
<input type="week" name="" id="">