
<gi-form-group>
  <label>Text</label>
  <input type="text" placeholder="Text" >
</gi-form-group>

<gi-form-group>
  <label>Search</label>
  <input type="search" placeholder="Search terms" >
</gi-form-group>

<gi-form-group>
  <label>Tel</label>
  <input type="tel" placeholder="Ex. (+32)2 345 67 89" >
</gi-form-group>

<gi-form-group>
  <label>Email</label>
  <input type="email" placeholder="john.doe@example.com" >
</gi-form-group>

<gi-form-group>
  <label>Url</label>
  <input type="url" placeholder="example.com" >
</gi-form-group>

<gi-form-group>
  <label>Password*</label>
  <input class="invalid" type="password" placeholder="Ex. Eq9Re_54sqd$" >
  <span class="error">A password is required.</span>
</gi-form-group>

<gi-form-group>
  <label>Textarea</label>
  <textarea cols="30" rows="10"></textarea>
</gi-form-group>

<br>
<br>
<br>

<h1>Buttons</h1>

<a gi-button disabled href="#" (click)="test()">Button</a>

<br>
<br>
<br>

<button gi-button disabled (click)="test()" color="primary">Primary</button>
<button gi-button disabled (click)="test()" color="secondary">Secondary</button>
<button gi-button disabled (click)="test()" color="error">Error</button>
<button gi-button disabled (click)="test()" color="warn">Warn</button>
<button gi-button disabled (click)="test()" color="success">Success</button>

<br>

<button gi-button (click)="test()" color="primary">Primary</button>
<button gi-button (click)="test()" color="secondary">Secondary</button>
<button gi-button (click)="test()" color="error">Error</button>
<button gi-button (click)="test()" color="warn">Warn</button>
<button gi-button (click)="test()" color="success">Success</button>

<br>
<br>
<br>
<br>
<br>
<br>

<input type="button" value="">
<input type="checkbox" name="" id="">
<input type="color" name="" id="">
<input type="date" name="" id="">
<input type="datetime-local" name="" id="">
<input type="file" name="" id="">
<input type="hidden" name="">
<input type="image" src="" alt="">
<input type="month" name="" id="">
<input type="number" name="" id="">
<input type="radio" name="" id="">
<input type="range" name="" id="">
<input type="reset" value="">
<input type="submit" value="">
<input type="time" name="" id="">
<input type="week" name="" id="">